* {
    box-sizing: border-box;
}

span {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #2b3765;
    margin-bottom: 3vmin;
}

.main {
    text-align: center;
    margin-top: 3%;
    height: 87vmin;
    width: auto;
    overflow: hidden;
}

.album-detail-card {
    background-color: #d5d9f7;
    max-width: 150vmin;
    margin: 1.5vmin;
    padding: 3vmin;
    border: 0.7vmin solid #2b3765;
    overflow: hidden;
}

.detail-image {
    display: flex;
    justify-content: left;
    align-items: left;
}

.detail-text {
    padding-left: 20px;
    text-align: center;
}

.spotify-btn {
    margin-top: 5vmin;
    margin-left: 1.5vmin;
    margin-right: 1.5vmin;
}
