.album-detail-container {
    width: 100%;
}

.album-detail-card {
    background-color: #d5d9f7;
    width: 100%;
    margin: 1.8vmin;
    padding-top: 3vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    padding-bottom: 0.5vmin;
    border: 0.6vmin solid #2b3765;
}

.back-btn {
    margin-left: 46%;
}