* {
    box-sizing: border-box;
}

span {
    display: inline-block;
    width: 70%;
    height: 0.7vmin;
    background-color: #2b3765;
    margin-bottom: 6%;
}

.main {
    text-align: center;
    margin-top: 4%;
    height: 87vmin;
    width: auto;
    overflow-y: scroll;
}

.album-detail-card {
    background-color: #d5d9f7;
    width: 100%;
    max-height: 100%;
    margin: 1.5vmin;
    padding: 3vmin;
    border: 0.7vmin solid #2b3765;
    overflow: hidden;
}

.detail-image {
    display: flex;
    justify-content: left;
    align-items: left;
}

.detail-text {
    padding-left: 20px;
    text-align: center;
    font-size: x-large;
}

.spotify-btn {
    margin-top: 1vmin;
    margin-left: 1.5vmin;
    margin-right: 1.5vmin;
}

.embed {
    width: 100%;
    height: 100%;
    border-radius: 29px;
}