:root {
    --lightest: #B7C0E6;
    --light: #9FACDE;
    --medium: #8897D6;
    --dark: #7082CD;
    --darkest: #586EC5;
}

.album-container {
    box-shadow: 20vmin;
    padding-bottom: 20vmin;
    width: auto;
}

.album-card {
    background-color: #d5d9f7;
    width: 28%;
    margin: 1.8vmin;
    padding-top: 3vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    padding-bottom: 0.5vmin;
    border: 0.7vmin solid #2b3765;
}