:root {
  --lightest: #B7C0E6;
  --light: #9FACDE;
  --medium: #8897D6;
  --dark: #7082CD;
  --darkest: #586EC5;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* PAGE BACKGROUND IMAGE */
  background-image: url('../public/images/lavender-bg.png');
  background-size: cover;
  background-attachment: fixed;
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#search-bar {
  margin-top: 7vmin;
}

#nav-bar {
  background-color: var(--darkest);
  color: white;
  height: 7.5%;
  width: 100%;
}

.navbar-text {
  padding-right: 14%;
  padding-left: 14%;
}

.auth-page {
  margin-top: 5%;
}

.home-page {
  display: flex;
  justify-content: center;
  resize: both;
  margin-top: 4%;
  height: 80vmin;
  width: auto;
}

.home-card {
  overflow: scroll;
  overflow: hidden;
}

.home-card-img {
  display: block;
  filter: blur(3px);
  height: 150%;
  border-radius: 1%;
  opacity: 0.2;
  border: 0.7vmin solid black;
}

.card-img-overlay {
  margin-top: 27%;
  margin-left: 13%;
  margin-right: 13%;
}

.search-bar {
  margin-top: 10vmin;
  margin-bottom: 7vmin;
}

.link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px #2b3765;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--darkest);
  color: var(--darkest);
  border: .1vmin solid black;
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.spotify-login {
  width: 15%;
  margin-left: 42%;
  margin-right: 42%;
}

/* FORM BOX */
.form-container {
  padding: 3vmin;
  background-color:	#362e77;
  border: 0.5vmin solid black;
  border-radius: 1vmin;
}

/* ERROR MESSAGE */
p.error-message {
  color: black;
  text-align: center;
  margin-top: 2.5vmin;
}

/* FORM TEXT */
form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: white;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.4vmin solid black;
  border-radius: .5vmin;
  /* Prevent Lastpass */
  background-image: none !important;
  background-color: white;
  outline: none;
}

input:focus {
  border-color: var(--dark);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: white;
  background-color: #586ec5;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin transparent var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
  border-radius: 5vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: #800021;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}